<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning ensure that "stylesheet_pack_tag" is used, line below -->
        
    <!-- before -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<link rel="stylesheet" media="all" href="/packs/css/application-b7b65d6e.css" data-turbolinks-track="reload" />-->
    <!-- after -->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src="/packs/js/application-0afca30409e93ac26cb8.js" data-turbolinks-track="reload"></script>-->
    
  </head>
  <body>

    <%= yield %>

  </body>
</html>
